<head>
	<title>{{ page.title | default: site.title }}</title>
	<link type="text/css" rel="stylesheet" href="/style.css">
	{% include google-analytics.html %}
</head>

<body>

<div id="wrap">

<div class="left" style="float:left; display:inline; padding:0 0 0px 190px">
	<img src="/img/lab_logo.png" height=320px>
</div>
<div class="left" style="float:left; display:inline; padding:80px 20px">
	<a class="inactive-header" href="/index.html"> ABOUT</a><br>
	<a class="inactive-header" href="/research"> RESEARCH</a> <br>
 	<a class="inactive-header" href="/people"> PEOPLE</a>  <br>
 	<a class="inactive-header" href="/publications"> PUBLICATIONS</a>  <br>
	<a class="inactive-header" href="/teaching"> TEACHING</a>  <br>
	<a class="inactive-header" href="/automatedscience"> WORKSHOPS</a> <br>
 	<a class="inactive-header" href="/tools"> TOOLS & DATA</a>  <br>
	<a class="inactive-header" href="/automation"> EQUIPMENT</a>  <br>
 	<a class="inactive-header" href="/contact"> CONTACT</a><br>
</div>
