html {
  font-family: -apple-system, Helvetica, arial, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.25em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

h1 {
  text-align: center;
}

body, table {
  margin: 0;
  font-size: 12px;
}
body .content {
  margin-bottom: 120px;
}

.wrap {
    max-width: 700px;
    margin: 0 auto;
}

.splash-new {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 24px;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 24px;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Matches publications nav line-height. */
}
.nav a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-bottom: none;
  font-size: 12px;
}

a {
  color: blue;
  text-decoration: none;
  border-bottom: none;
}

a:visited {
  color:blue;
}

a:hover {
  font-weight: bold;
}

.nav a:hover {
  font-weight: bold;
}
.nav ul {
  list-style-type: none;
  padding: 0;
}
.nav ul li {
  display: inline;
  margin-right: 10px;
}

.news td {
  padding: 0px 10px 10px 0px;
  vertical-align: middle;
}

td.date {
  color: rgba(0, 0, 0, 0.6);
  vertical-align: middle;
  text-align: right;
}

/* publication list */

ul.publist {
  list-style-type: none;
  padding: 0px;
}
li.pub {
   margin: 10px;
   margin-left: 0px;
   /* border-left: 3px solid grey; */
   border-right: 3px solid grey;
   /* border-radius: 8px; */
   padding-right: 10px;
   margin-bottom: 20px;
}

.publist p {
  margin: 0;
}

p.authors {
  font-size: 13px;
  font-variant: small-caps;
}
p.pubtitle {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
p.journal {
  font-size: 13px;
}
p.links {
  text-align: right;
  font-size: 13px;
}

table.ppl {
   padding: 0px;
   /* padding-left: 25px; */
   margin: 0px;
   position: center;
}

td.ppl-image {
   padding-bottom: 40px;
   padding-left: 0px;
   padding-right: 20px;
   vertical-align: top;
}

td.ppl-bio {
   padding-bottom: 40px;
   padding-left: 20px;
   padding-right: 0px;
   vertical-align: top;
}

p.ppl-title {
   font-size: small;
   font-style: italic;
   margin-top: 0px;
}

.alumni h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.alumni ul {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  list-style-type: none;
}

summary {
    /* Color and Underline */
    color: #0000ee; 
    text-decoration: none;
    cursor: pointer;
    
    /* Remove default list-item marker */
    list-style: none;
  }

  /* Optional: Standard link hover state */
  summary:hover {
    font-weight: bold;
  }

  /* Remove marker for older Chrome/Safari versions */
  summary::-webkit-details-marker {
    display: none;
  }

.footer {
  text-align: center;
  color: #808080;
}

